body {
    font-family: Arial, sans-serif;
}

.navbar {
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    margin: 15px;
}

.navbar a {
    margin: 5px;
}

.search-field {
    text-align: center;
    padding: 30px;
}

.advanced-search-field {
    text-align: left;
    padding-left: 50px;
}

.search-header {
    padding-left: 30px;
    padding-bottom: 30pxs;
    border: 10px bottom lightgrey;
    color: red;
}

.big-text-input {
    width: 50%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 40px;
    margin: 15px;
}

input[type=submit] {
    width: 20%;
    height: 40px;
    border: 1px solid #ccc;
}